body{
    background: hsl(0, 0%, 12%);
    margin: 0;
    font-family: 'Inter';
    text-align: center;
}

.fonts{
    color: white;
    font-weight: 600;
    line-height: 2em;
    
    
}

.color{
    color: hsl(75, 94%, 57%);
    font-size: .9em;
    font-family: 'Inter';
    font-weight: 400;
}

header{
    color: white;
    font-family: 'Inter';
}
.container{
    font-size: 1.5em;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
}
.sfont{
    font-family: 'Inter';
    font-size: .9em;
    line-height: 3em;
}
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13em;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.fonts p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 300px;
    height: 40px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    padding: 6.2px;
    box-sizing: border-box;
    margin: auto;
    margin-top: .5em;
}
